.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*.tif
*.xml
data/evi
data/raster_scaled
data/2021_Census
data/bg_layers
data/bias_layers
data/*.lyr
data/*.cpg
data/*.dbf
data/*.prj
data/*.sbn
data/*.sbx
data/*.shp
data/*.shp.xml
data/*.shx
data/*-shm
data/*-wal
data/*-journal
data/*.rds
Rplots.pdf
venv/
hgam/
ensemble/
range bagging/
occ/
modelling_info.Rmd
